/*大綱*/

body {
    background-color: #202124;
    font-family: 'Noto Sans', serif;
    margin: 20px;
}

.wrapper {
    display: flex;
    height: 85vh;
    gap: 10px;
    justify-content: space-evenly;

}

/*左上*/

.leftbox {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchored-pin {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.anchored-name {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 55px;
}

.anchored-avatar {
    width: 200px;
    border-radius: 50%;
}


/*右上*/

.rightbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    flex-grow: 0.8;
}

.container {
    width: 45%;
    min-width: 160px;
    background-color: #3c4043;
    border-radius: 5px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.4;
}

.person-name {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.person-avatar {
    /*width: 50%;*/
    height: 15vh;
    border-radius: 50%;
}


/*每個都有*/

.micro {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
}

.func {
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: 10;
}

.leftbox .func {
    transition: all 0.3s ease-out;
}

.leftbox:hover .func {
    opacity: 60%;
    transition: all 0.3s ease-in;
}

.outer-func:hover .func {
    opacity: 90%;
}


/*下面*/

.bottom {
    color: white;
    position: fixed;
    width: 97%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item1 {
    display: flex;
    width: 250px;
    min-width: 250px;
    /*align-items: center;*/
}

.item2 {
    display: flex;
    width: 324px;
    min-width: 324px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.item3 {
    display: flex;
    width: 250px;
    min-width: 250px;
    justify-content: space-around;
}

.icon {
    text-align: center;
    width: 40px;
}

#mic-label {
    position: relative;
    width: 40px;
    height: 40px;
}

#mic-box {
    display: none;
}

#mic-box:checked + #mic-label:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-8 -8 40 40' fill='white'%3E%3Ccircle cx='12' cy='12' r='20' fill='%23e04236'/%3E%3Cpath d='M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    left: 0;
}

.gray-circle {
    width: 40px;
    height: 40px;
    background-color: #3b3f42;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

#red3 {
    width: 60px;
    height: 40px;
    background-color: #e04236;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.supText {
    background: #4d5457;
    opacity: 0;
    z-index: 10;
    position: absolute;
    white-space: nowrap;
    margin-bottom: 90px;
}

.box .supText {
    transition: all 0.3s ease-out;
}

.box:hover .supText {
    opacity: 1;
    transition: all 0.3s ease-in;
}


@media (max-width: 900px) or (max-height: 600px) {
    .person-avatar {
        max-width: 65px;
        max-height: 65px;
    }
}